---
import background from '../../assets/fantastica-tlo-gradient.svg';
import falanding from '../../assets/head-z-purple-kolem.png';
import vidoo from '../../assets/fantastica-vid.mp4';
import kimjestesmyPhoto from '../../assets/kimjestesmy-photo.png'
import Wydarzenia from '../../components/en_components/Wydarzenia.astro'
import kalendarzPicMain from '../../assets/kalendarz-pic-main.png'
import secondPhotoMain from '../../assets/second-photo-main.png'
import Footer from '../../components/en_components/Footer.astro'
// import first_photo from '../assets/first_photo_main.png' TODO - nie dziala, wiec zrobilem straitght link
---

<div id="fantastica-glowna">
	<div>
		<img class="background" id="fadeImage" src={background.src} alt="" fetchpriority="high" />
		<img class="falanding" id="fadeImage" class="widFantastica" src={falanding.src} alt="" fetchpriority="high" />
		<video id="fantastica-bg-vid" autoplay muted loop>
			<source src={vidoo} type="video/mp4">
		</video>
	</div>
	<h1 id="fbl" class="fantastica-big-letters" >
		FANTASTICA
	</h1>
	<div id="main-readable-portion">
		<div id="o-nas-containter">
			<div id="o-nas">
				<div id="o-nas-left">
					<h2 style="font-family: Gilda Display;">WHO<br>ARE WE?</h2>
					<img src={kimjestesmyPhoto.src} alt="" />
				</div>
				<div id="o-nas-right">
					<div id="o-nas-right-tekscik">
						<p>
							Fantastica Ensemble is a space where Baroque meets unparalleled expression and an innovative approach. We are a flexible ensemble, with our core consisting of violinist Aleksandra Owczarek and harpsichordist Klaudia Łoboda—artists who boldly explore rare and forgotten works, bringing them back to life. We do not recreate Baroque—we reinvent it.
						</p>
						<p>
							Fantastica Ensemble is more than just a group—it is an artistic mission. We play music that knows no boundaries, defies conventions, and redefines what early music truly is. Authenticity, expression, unpredictability—this is our DNA. In our interpretations, you will hear everything we love most in art: intensity, sensuality, and beauty.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="o-nas-containter-bg">
			<!-- TODO - to wychodzace poza x axis -->
			
		</div>
		<div id="first-photo-containter" >
			<div id="first-photo-text-container">
				<p>
					„Baroque Reimagined.<br> Hear the Voice of the Youth. ”
				</p>
			</div>
		</div>
		<div id="kalendarz-container">
			<div>
				<!-- TODO - make gradient move i linki i na szerokosc zrobic max bo wyglada goofy w safari-->
				<h2>
					KALENDARZ
				</h2>
				<div class="wydarzenia">
					<Wydarzenia title="Wydarzenia" />
					<img src={kalendarzPicMain.src} alt="" />
				</div>
			</div>
		</div>
		<div id="second-quote-main">
			<img src={secondPhotoMain.src} alt="" />
			<div>
				<h2>“Revolutionizing the world of Baroque music with their innovative approach.”</h2>
				<h4>Authors<br>Karolina Sajniak-Drzyzga, Julian Cochran Foundation</h4>
				<a>“Their unique projects are true pearls, which with virtuosity combine freshness and innovation, bringing the beauty of Baroque in a surprising and youthful way. Each of their concerts is not only a musical performance, but a thoughtful, theatrical story where tradition meets modernity.”</a>
			</div>
		</div>
		<!-- TODO - footer -->
		<div id="footerson">
			<Footer />
		</div>

		</div>
	</div>
</div>


<style>
	htnl {
		scroll-behavior: auto;
	}
		/* to nie dziala */
header {
	background: white;
}
	#kalendarz-container {
		background: url(../../assets/tlo-kalendarz.png) lightgray 50% / cover no-repeat;
	}
	/* landing and vid */
		#fantastica-glowna {
			display: grid;
			width: -webkit-fill-available;
			place-items: center;
			grid-template-rows: 122vh 56.3% 100vh 1fr;

		}

		.background {
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			background-repeat: no-repeat;
			background-attachment: fixed; 
			background-size: 100% 100%;
		}

		#fantastica-bg-vid {
			position: fixed;
			object-fit: cover;
			width: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			z-index: -2;
		}

		.falanding {
			position: fixed;
			height: 80vh;
			left: 50%;
			transform: translate(-50%, 0%);
			bottom: 0;
			pointer-events: none;
		}

		.fantastica-big-letters {
			position: sticky;
			top: 39%;
			margin-bottom: calc(5vw + 140px);
			grid-row-start: 1;
			color: #E2E4E7;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Elsie;
            font-size: calc(5vw + 80px);
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            pointer-events: none;
			align-self: end;
            justify-self: center;
			z-index: 1;
		}
		.fntc-b-l {
			height: 100%;
		}

		#fantastica-glowna {
			font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		}

		/* Element pod wideo, czytalny */
		#main-readable-portion {
			display: grid;
			grid-template-columns: 1fr 82vw 2fr;
			grid-template-rows: 10vh 1250px 82vh 108vh 1fr 1fr;
			width: 100%;
			height: 2000px;
			background-color: rgba(241, 239, 239, 0.97);
			backdrop-filter: blur(15px);
			grid-row-start: 2;
			
		}
		
		#o-nas-containter {
			grid-column: 2 / 4;
			grid-row-start: 2;
			z-index: 1;
		}
		
		#o-nas-containter-bg {
			height: 40%;
			grid-column: 1/4;
			grid-row: 2/3;
			bottom: 0;
			align-self: flex-end;
			z-index: 0;
			background: linear-gradient(0deg, #E16F9E 21.65%, rgba(255, 255, 255, 0.00) 101.13%);
		}

		#o-nas {
			display: grid;
			grid-template-columns: 1fr 1fr;	
			gap: 100px;
			height: 970px;
		}

		#o-nas-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 1020px;
		}
		#o-nas-left h2 {
			color: #262626;
			font-family: Elsie;
			font-size: 3.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			align-self: center;
			padding-right: 25px;
		}

		#o-nas-left img {
			width: calc(23vw + 280px);
			align-self: flex-end;
		}

		#o-nas-right {
			margin-bottom: 25vh;
			align-self: center;
		}

		#o-nas-right-tekscik {
			color: #343232;
			text-align: justify;
			font-family: "Gilda Display";
			font-size: calc(0.6vw + 11.5px);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-right: calc(33vw - 340px);
		}

		#first-photo-containter {
			display: flex;
			justify-content: center;
			grid-column: 1/4;
			grid-row-start: 3;
			background-image: url('../../assets/first_photo_main.png'); /* Set the background image */
			background-size: cover; /* Cover the whole div */
		}
			#first-photo-text-container {
				width: 94vw;
				height: 71vh;
				border-radius: 11px;
				border: 1px solid rgba(220, 220, 220, 0.78);
				margin-top: 6vh;
			}

				#first-photo-text-container > p {
					color: #FFF;
					font-family: "Gilda Display";
					font-size: 3.2rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					padding: 0 3vw;
				}
		#kalendarz-container {
			display: flex;
			justify-content: center;
			grid-row: 4/5;
			grid-column: 1/4;
			background-color: white;
		}

		#kalendarz-container > div {
			align-self: center;
			height: 70%;
			width: 90%;
			padding: 0 5.5vw;
			padding-bottom: 17vh;
		}

		#kalendarz-container > div > h2 {
			color: #262626;
			font-family: Elsie;
			font-size: 8vh;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			padding-left: 3.5%;
		}


		.wydarzenia {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			height: 600px;
		}

		.wydarzenia > img {
			height: 30vw;
		}

		/* Drugi quote sekcja */
		#second-quote-main {
			display: flex;
			flex-direction: row;
			grid-row: 5/6;
			grid-column: 1/4;
			height: 56vw;
		}
		#second-quote-main > img{
			height: 56vw;
		}
		#second-quote-main > div {
			display: flex;
			flex-direction: column;
			padding: 1vw 1vw 5vw 4vw;
			background-color: #D9EDFF;
			background-image: url('../assets/quote-second-gdnt.svg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}


		#second-quote-main > div > h2 {
			color: #032D52;
			text-align: right;
			font-family: "Gilda Display";
			font-size: 5.3vh;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		#second-quote-main > div > h4 {
			color: #032D52;
			font-family: "Gilda Display";
			font-size: calc(0.6vw + 10px);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: right;
		}
		#second-quote-main > div > a {
			color: #032D52;
			font-family: "Gilda Display";
			font-size: calc(0.6vw + 10px);
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-top: auto;
			padding-right: 4vw;
		}

		#footerson {
			height: 100%;
			grid-row: 8/9;
			grid-column: 1/4;
			width: auto;
		}
		#footerson > footer {
			width: 101.6vw;
		}
		/* Naprawa animacji glownego napisu */

/* responsive */
		@media screen and (max-width: 1000px) {
			#fantastica-glowna {
				grid-template-rows: 114vh 72% 100vh 1fr;
			}
			.falanding {
				height: 116vw;
				left: 46vw;
			}
			#main-readable-portion {
				width: 101vw;
				grid-template-rows: 10vh 1250px 82vh 1360px 40vh 42vh;
			}
  /* O nas Iphone */
			#o-nas-containter {
				grid-column: 1/4;
			}


			#o-nas {
				position: relative; 
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;
			}
			#o-nas-left {
				grid-row: 1/2;height: 264vw;
			}
			#o-nas-left img {
				width: 95%;
				align-self: center;
			}
			#o-nas-right {
				width: 91vw;
				position: absolute;
				top: 29vh;
				justify-self: center;
			}
			#o-nas-right-tekscik {
				width: 91vw;
				font-size: calc(1.6vw + 11.5px);
			}
		/* First photo iphone */
			#first-photo-containter {
				background-position: center;
			}

		/* kalendarz iphone */
			.wydarzenia {
				row-gap: 15vw;
			}
			#kalendarz-container > div > h2 {
				padding: 0;
				font-size: 7vh;
			}


			/* Second quote iphone */
			#second-quote-main {
				grid-row: 7 / 8;
				flex-direction: column-reverse;
				/* grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr; */
			}
			#second-quote-main > img {
				height: 114vw;
			}
			/* #second-quote-main > div {
				grid-row: 2/3;
			} */
			.wydarzenia {
				flex-direction: column;
			}
			.wydarzenia > img {
				height: 114vw;
			}


		}
	/* Iphone */
		@media screen and (max-width: 600px) {
			#fantastica-glowna {
				grid-template-rows: 114vh 70.1% 100vh 1fr 1fr;
			}
			.fantastica-big-letters {
				align-self: start;
				top: 23%;
			}
			#fbl {
				font-size: 12.5vw;
				/* align-items: start; */
			}
			.falanding {
				
				/* left: auto;
				top: 21vh; */
			}

/* TODO - wazne, na glownej za male literki w tym */
			#second-quote-main > div > a, #second-quote-main > div > h4 {
				/* font-size: 10vw; */
			}

		}

			@@media screen and (max-width: 420px) {
				#fantastica-glowna {
					grid-template-rows: 114vh 68.2% 100vh 1fr;

				}
			}
			@media screen and (max-width: 400px) {
				#fantastica-glowna {
					grid-template-rows: 114vh 70.2% 100vh 1fr;

				}
			}
			@media screen and (max-width: 385px) {
				#fantastica-glowna {
					grid-template-rows: 114vh 76.7% 100vh 1fr;

				}
			}
			@media screen and (max-width: 350px) {
				#fantastica-glowna {
					grid-template-rows: 114vh 67.1% 100vh 1fr;

				}
			}
		@media screen and (min-width: 1000px) {
			@media screen and (max-height: 950px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 58% 100vh 1fr;
				}
			}
			@media screen and (max-height: 920px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 58.8% 100vh 1fr;
				}
			}
			@media screen and (max-height: 890px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 60% 100vh 1fr;
				}
			}
			@media screen and (max-height: 860px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 61% 100vh 1fr;
				}
			}
			@media screen and (max-height: 830px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 62.4% 100vh 1fr;
				}
			}
			@media screen and (max-height: 780px) {
				#fantastica-glowna {
					grid-template-rows: 122vh 64.3% 100vh 1fr;
				}
			}
			@media screen and (max-height: 750px) {
				#fantastica-glowna {
					grid-template-rows: 132vh 64.3% 100vh 1fr;
				}
			}
			@media screen and (max-height: 710px) {
				#fantastica-glowna {
					grid-template-rows: 132vh 66.1% 100vh 1fr;
				}
			}
		}

	</style>

	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
	<script>  
		if ("scrollRestoration" in history) {
			history.scrollRestoration = "manual";
		}

		import gsap from "gsap";
		import ScrollTrigger from "gsap/ScrollTrigger";
		let mm = gsap.matchMedia();

			const readableTimeline = gsap.timeline();
			gsap.registerPlugin(ScrollTrigger);

			let tl = gsap.timeline({
				scrollTrigger: {
					trigger: "#fadeImage",
					scrub: true,
					start: "top top",    
					end: "center-=180 top",
				}
			});
			
			
			// First animation: Fade out #fadeImage
			tl.to("#fadeImage", {
				opacity: 0,
				filter: "grayscale(100%)",
				duration: 3,
			}, );

			mm.add("(min-width: 800px)", () => {

				// // Second animation: Change color of #fbl after #fadeImage is done
				tl.to("#fbl", {
					color: "#A76AFB",
					scale: "1.4vw 1.4vh",
					scrub: true,
					y: "-16vh",	
					scrollTrigger: {
						trigger: "#fbl",
						start: "top+=200px center",     
						scrub: true
					}
				})				
				// tl.to("#headinio", {
				// 	filter: "invert(1)",
				// 	scrub: true,
				// 	scrollTrigger: {
				// 		trigger: "#fbl",
				// 		start: "top+=200px center",     
				// 		scrub: true
				// 	}
				// })
				// tl.to("#headinio", {
				// 	filter: "none",
				// 	mixBlendMode: "difference",
				// 	scrollTrigger: {
				// 		trigger: "#fbl",
				// 		start: "top+=300px center",     
				// 		scrub: true
				// 	}
				// })
				.to("#fantastica-bg-vid", {
					filter: "grayscale(100%)",
					scrollTrigger: {
						trigger: "#fbl",
						start: "top center",     
						scrub: true
					}
				}, )
				tl.to("#fbl", {
					marginBottom: "calc(1744px + 91vh)",
					scrollTrigger: {
						trigger: "#fbl",
						start: "top top",     
						scrub: true,
					}
				});

				gsap.to("#fantastica-bg-vid", {
					opacity: 0,
					scrollTrigger: {
						trigger: "#first-photo-containter",
						start: "top center",
						scrub: true,
						onEnter: () => {
							const video = document.querySelector("#fantastica-bg-vid");
							video.style.display = "none";
							video.pause();
						},
						onLeaveBack: () => {
							const video = document.querySelector("#fantastica-bg-vid");
							video.style.display = "block";
							video.play();
						}
					}
				});
			});


// TODO - header animation

			mm.add("(max-width: 800px)", () => {

				// // Second animation: Change color of #fbl after #fadeImage is done
				tl.to("#fbl", {
					color: "#A76AFB",
					scale: "1.2vw 1.2vh",
					scrub: true,
					// y: "-6vh",	
					scrollTrigger: {
						trigger: "#fbl",
						start: "top+=200px center",     
						scrub: true
					}
				})
				// tl.to("#headinio", {
				// 	filter: "invert(1)",
				// 	scrub: true,
				// 	scrollTrigger: {
				// 		trigger: "#fbl",
				// 		start: "top+=200px center",     
				// 		scrub: true
				// 	}
				// })
				// tl.to("#headinio", {
				// 	filter: "none",
				// 	mixBlendMode: "difference",
				// 	scrollTrigger: {
				// 		trigger: "#fbl",
				// 		start: "top+=300px center",     
				// 		scrub: true
				// 	}
				// })
				.to("#fantastica-bg-vid", {
					filter: "grayscale(100%)",
					scrollTrigger: {
						trigger: "#fbl",
						start: "top center",     
						scrub: true
					}
				}, )
				tl.to("#fbl", {
					marginBottom: "calc(1744px + 91vh)",
					scrollTrigger: {
						trigger: "#fbl",
						start: "top top",     
						scrub: true,
					}
				});
				tl.to("#fbl", {
					opacity: 0,
					scrollTrigger: {
						trigger: "#main-readable-portion",
						start: "top top",     
					}
				});
				gsap.to("#fantastica-bg-vid", {
					opacity: 0,
					scrollTrigger: {
						trigger: "#first-photo-containter",
						start: "top center",
						scrub: true,
						onEnter: () => {
							const video = document.querySelector("#fantastica-bg-vid");
							video.style.display = "none";
							video.pause();
						},
						onLeaveBack: () => {
							const video = document.querySelector("#fantastica-bg-vid");
							video.style.display = "block";
							video.play();
						}
					}
				});

			});



			// readableTimeline.to("#main-readable-portion", {
			// 	margin: "-20.2% 0 0 0",
			// 	scrollTrigger: {
			// 		trigger: "#fadeImage",
			// 		start: "center",     
			// 		scrub: true
			// 	}

			// });

	</script>