---
import albumyHeadlineImg from '../../assets/albumyHeadline.png';
import plytyEclipse from '../../assets/plytyEclipseLol.png';
import plytyBiber from '../../assets/plytyBiber.png';
import plytyBiber2 from '../../assets/plytyBiber2.png'
import plytyBiberDots from '../../assets/plyty-biber-dots.png'
import { ViewTransitions } from "astro:transitions";
---
<head>
    <ViewTransitions />
</head>

<div class="albumy-container">
    <div class="albumy-headline">
        <!-- TODO - zrobic tak zeby jak sie przy 1200px zmienialo to zeby bylo bardziej kanciaste jak w canvie, wezsze bo figmie jest super -->
        <div class="albumy-headline-text">
            <h1>Albums</h1>
            <p>
                We invite you on a musical journey filled with contrasts – from mystical contemplation to virtuosic expression. Check out our latest albums and let yourself be captivated by baroque sounds!            </p>
        </div>
        <div class="albumy-headline-img-container">
            <img class="albumyHeadlineImg" src={albumyHeadlineImg.src} alt="" />
            <img class="albumyEclipseHeadline" src={plytyEclipse.src} alt="" />
        </div>
    </div>
    <div class="albumy-biber-container">
        <div class="albumy-biber-up">
            <div class="albumy-biber-img-container">
                <img class="albumy-biber-img" src={plytyBiber.src} alt="" />
            </div>
            <div class="albumy-biber-text">
                <!-- TODO - WAZNE: ZROB KROPKI -->
                <h2>
                    BIBER<img class="plyty-biber-dots" src={plytyBiberDots.src} alt="" />
                </h2>
                <h4>
                    Sacrum/Profanum
                </h4>
                <p class="projekt-text-p">
                    The debut album of Fantastica is a story of contrasts. Sacrum.Profanum. takes you on a musical journey through the world of Heinrich Ignaz Franz von Biber—a composer who masterfully balanced between the extraordinary and the everyday. In his works, spirituality meets earthly expression, and mystical contemplation intertwines with untamed virtuosity. On this album, the Baroque violin and harpsichord not only interpret these contrasts but become part of them—vibrating with energy, painting sonic landscapes, and telling stories filled with tension, melancholy, and bravado.
                </p>
                <h6>
                    Release: 29 April 2025
                </h6>
                <a href="CD/biber">
                    <button class="przsprdrz-btn">
                        Order in Pre-sale  
                        <div class="star-1"
                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        >
                          <svg >
                            <circle cx="20" cy="20" r="10" fill="#0bee73" />
                          </svg>
                        </div>
                        <div class="star-2">
                          <svg >
                            <circle cx="20" cy="20" r="11" fill="#f55e5c" />
                          </svg>
                        </div>
                        <div 
                        class="star-3"
                        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        >
                          <svg >
                            <circle cx="20" cy="20" r="9" fill="#f7793c" />
                          </svg>
                        </div>
                        <div class="star-4">
                          <svg >
                            <circle cx="20" cy="20" r="9" fill="#f7793c" />
                          </svg>
                        </div>
                        <div class="star-5">
                          <svg >
                            <circle cx="20" cy="20" r="11" fill="#0bee73" />
                          </svg>
                        </div>
                        <div class="star-6">
                          <svg >
                            <circle cx="20" cy="20" r="10" fill="#f55e5c" />
                          </svg>
                        </div>
                      </button>
                    <!-- <button class="cta">
                      <span>Buy Biber</span>
                      <svg width="27px" height="18px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                      </svg>
                    </button> -->
                </a>
            </div>
        </div>
    </div>
    <div class="albumy-biber2-container">
        <img class="albumy-biber2-img" src={plytyBiber2.src} alt="" />
    </div>
    <div class="albumy-fantastica-container">
        <div class="albumy-fanstastica">
            <h2>FANTASTICUS</h2>
            <h4>A Sensual Play of Contrasts</h4>
            <p>
                Virtuosity, madness, and a sonic journey through the 17th-century Habsburg Empire. Fantasticus is a program brimming with intense, virtuosic challenges in stylus fantasticus—a style full of musical ecstasy, unfettered improvisation, and unexpected twists. It is a collision of well-known sonatas by H.I.F. Biber with nearly forgotten compositions, such as the recently rediscovered Sonata in D minor by Heinricus Litzkau, a true musical gem.
            </p>
            <h3>RELEASE SOON</h3>
            <div class="albumy-fantastica-backgroundEclipses"> 
                <div class="albumy-firstEclipse">

                </div>
                <div class="albumy-secondEclipse">

                </div>
            </div>
        </div>
    </div>
</div>

<style>

.albumy-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 730px auto 60vw 78vw;
        font-weight: 400;
        font-family: "Gilda Display";
        
    }
    /* Projekty Headline */
    .albumy-headline {
        width: 100vw;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 14vh 1fr;
        background: linear-gradient(180deg, #FFF 0%, #ECE4F0 100%);
        overflow: hidden;
    }
    .albumy-headline-img-container {
        position: relative;
        grid-column: 2/3;
        grid-row:  2/3;
        justify-self: center;
        align-self: center;
        display: flex;
    }
    .albumyHeadlineImg {
        height: 29vw;
        z-index: 1;
    }

    .albumyEclipseHeadline {
        position: absolute;
        top: -24vw;
        left: -24vw;
        z-index: 0;
    }
    .albumy-headline-text {
        grid-column: 1/2;
        grid-row:  2/3;
        font-family: "Gilda Display";
        text-align: center;
        font-size: 23px;
    }
    .albumy-headline-text h1 {
        background: linear-gradient(180deg, #8E13F3 0%, #2599F8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: calc(50px + 7.5vw);
        /* text-align: right; */
        padding-right: 1.6vw;
        font-weight: 400;
    }
    .albumy-headline-text p {
        padding: 0 6vw;
    }

/* Biber */

    .albumy-biber-container {
        display: grid;
        grid-template-rows: 1fr;
        width: 100vw;
        height: fit-content;
        }
    
    .albumy-biber-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* column-gap: 5vw; */
        grid-column: 1/3;
        grid-row: 1/2;
        background: linear-gradient(180deg, #ECE4F0 0%, #E0DBC7 100%);
        padding-right: 6vw;
        height: 960px;
    }

    .albumy-biber-img-container {
        position: relative;
        grid-column: 1/2;
        display: flex; 
        align-content: center;
        justify-content: end;
    }
    .albumy-biber-img {
        object-fit: contain;
        width: 82%;
        padding-right: 4.3vw;
    }

    .albumy-biber-text {
        grid-column: 2/3;
        font-size: clamp(16px, 1.8vw, 30px);
        text-align: right;
        align-self: center;
    }


    .albumy-biber-down {
        grid-row: 2/3;
        grid-column: 1/3;
        background: var(--gradient1, radial-gradient(74.1% 76.06% at 32.04% 109.51%, rgba(195, 0, 192, 0.30) 19%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(143.37% 142.45% at 48.54% 50%, rgba(142, 19, 243, 0.59) 0%, rgba(47, 152, 244, 0.00) 100%), rgba(47, 152, 244, 0.00));
        align-content: center;
        display: flex;
    }

    .projekt-text-p {
        font-size: clamp(16px, 1.7vw, 30px);
    }
    h2 {
        font-weight: 400;
        margin-bottom: 1vw;
        font-size: clamp(40px, 5vw, 76px);
        position: relative;
    }

    h4 {
        margin-top: 1vw;
        margin-bottom: 5vw;
        font-weight: 400;
        font-size: clamp(20px, 2.5vw, 42px);
    }
    .albumy-biber-text > a > button {
            /* margin-top: 50px; */
        }
        .cta {
            font-size: clamp(16px, 1.9vw, 35px);
            font-weight: normal;
            margin-top: 20px;

            position: relative;
            margin: auto;
            padding: 12px 18px;
            transition: all 0.2s ease;
            border: none;
            background: none;
            cursor: pointer;
            border: 2px solid #62db32;
            border-radius: 50px;
        }

        .cta:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            border-radius: 50px;
            width: 65px;
            height: 61px;
            transition: all 0.3s ease;
        }

        .cta span {
            position: relative;
            font-family: "Ubuntu", sans-serif;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #62db32;
        }

        .cta svg {
            position: relative;
            top: -3px;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #62db32;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:hover:before {
            width: 100%;
            background: #ceffd0;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.95);
        }
    #bg-eclipse {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/eclipseProjekty.svg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 80% 100%;
    }
    ul {
        list-style-type: none;
        text-align: center;
        color: #FFF;
        font-size: clamp(16px, 1.8vw, 30px);
    }
    .albumy-biber-down ul {
        margin-top: 3vw;
    }

    .plyty-biber-dots {
        position: absolute;
        top: -6vw;
        right: -5.3vw;
        width: 26vw;
    }
/* Biber2 */

    .albumy-biber2-container {
        grid-column: 1 / 2;
        grid-row: 3/4;
    }
    .albumy-biber2-img {
        width: -webkit-fill-available;
    }


    
/* plyta Fantastica  */
    .albumy-fantastica-container {
        background: linear-gradient(180deg, #DFDAC6 -2.09%, #FFF3EC 123.37%);
        grid-row: 4/5;

        display: grid;
        grid-template-columns: 1fr 670px 1fr;
        margin-top: -1vw;
    }
    .albumy-fanstastica {
        grid-column: 2/3;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
    }
    .albumy-fanstastica p {
        text-align: justify;    
        font-size: clamp(16px, 1.7vw, 25px);
        margin: 0 0.8vw;
    }
    .albumy-fanstastica h2 {
        color: #FFF;
        z-index: 1;
    }
    .albumy-fanstastica h4 {
        margin: 0 0 3.2vw 0;
        font-size: clamp(23.6px, 2.4vw, 76px);
        color: #FFF;
        z-index: 1;
    }
    h3 {
        font-size: 62px;
        font-weight: normal;
        margin-top: 2.1vw;
        color: #FFF;
        z-index: 1;
    }

    .albumy-fantastica-backgroundEclipses {
        position: absolute;
        top: 121px;
        left: 36px;
        z-index: 0;
        width: 600px;
        height: 600px;
    }
    .albumy-firstEclipse {
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 1042px;
        opacity: 0.7;
        background: #8F06FF;
        filter: blur(235.14999389648438px);
        right: 10vw;
    }
    .albumy-secondEclipse {
        position: absolute;
        width: 600px;
        height: 600px;
        border-radius: 1051px;
        opacity: 0.7;
        background: #2F98F4;

        filter: blur(235px);
        left: 10vw;
    }

    h6 {
        font-size: clamp(16px, 1.7vw, 30px);
    }

    .przsprdrz-btn {
      height: 60px;
      position: relative;
      padding: 8px 20px;
      background: #f55e5c;
      font-size: 14px;
      font-weight: 600;
      box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
      color: #ffff;
      border: 0px solid #a3051d;
      border-radius: 78px;
      box-shadow: 0 0 0 #a3051d8c;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      align-self: center;
    }

  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #0bee73);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    pointer-events: none;
  }

  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #f55e5c);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
  }

  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #de6363);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
  }

  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #f55e5c);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
  }

  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #0bee73);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
  }

  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #de6363);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    pointer-events: none;
  }

  .przsprdrz-btn:hover {
    background: #dbd9d9;
    color: #f5875c;
    box-shadow: 0 0px 25px #f5875c8c;
  }

  button:hover .star-1 {
    position: absolute;
    top: -20%;
    left: -20%;
    width: 20px;
    height: auto;
    fill: #0bee73;
    filter: drop-shadow(0 0 10px #0bee73);
    z-index: 2;
  }

  button:hover .star-2 {
    position: absolute;
    top: 35%;
    left: -25%;
    width: 15px;
    height: auto;
    fill: #de6363;
    filter: drop-shadow(0 0 10px #f55e5c);
    z-index: 2;
  }

  button:hover .star-3 {
    position: absolute;
    top: 80%;
    left: -10%;
    width: 10px;
    height: auto;
    fill: #f55e5c;
    filter: drop-shadow(0 0 10px #de6363);
    z-index: 2;
  }

  button:hover .star-4 {
    position: absolute;
    top: -25%;
    left: 105%;
    width: 20px;
    height: auto;
    fill: #f55e5c;
    filter: drop-shadow(0 0 10px #f55e5c);
    z-index: 2;
  }

  button:hover .star-5 {
    position: absolute;
    top: 30%;
    left: 115%;
    width: 15px;
    height: auto;
    fill: #0bee73;
    filter: drop-shadow(0 0 10px #0bee73);
    z-index: 2;
  }

  button:hover .star-6 {
    position: absolute;
    top: 80%;
    left: 105%;
    width: 10px;
    height: auto;
    fill: #de6363;
    filter: drop-shadow(0 0 10px #de6363);
    z-index: 2;
  }

  .fil0 {
    pointer-events: none;
    /* fill: #f55e5c; */
  }

    @media screen and (min-width: 2000px) {
        .albumy-container {
            grid-template-rows: 38vw 78vw 60vw 78vw;
        }
     }
    @media screen and (min-width: 1800px) {
        .albumyEclipseHeadline {
            left: -1vw;
        }
     }
     @media screen and (max-width: 600px) {
        .albumy-headline, .albumy-biber-container, .albumy-biber2-container, .albumy-fantastica-container    {
            width: 100vw;
        }
        .albumy-container {
            grid-template-rows: 0.9fr 0.6fr 60vw 1fr;
        }
        .albumy-headline {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 100vw;
            padding-top: 11vw;
        }
        .albumy-headline-text {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .albumy-headline-img-container {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        .albumyHeadlineImg {
            height: 59vw;
        }
        .albumy-biber2-container {
            margin-top: -0.2vw;
        }
        /* Album - fantastica - mobile */

        .albumy-fantastica-container {
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 1vw;
        }
        .albumy-fantastica-backgroundEclipses {
            width: 60vw;
            height: 100vw;
        }
        /* .albumy-firstEclipse {
            width: 60vw;
            height: 100vw;
        } */
        .albumy-secondEclipse {
            width: 60vw;
            height: 100vw;
        }
        h3 {
            margin-top: 6.1vw;
        }
        /* TODO - dadaj zdjecie zeby bylo jak w mobile na figmie */
        .albumy-biber-img-container {
            opacity: 0;
        }

        .plyty-biber-dots {
            top: -11vw;
        }
        .albumy-biber-up {
            grid-template-columns: 0.1fr 1fr;
            padding-top: 6vw;
        }
     }
</style>