---
import { Image } from "astro:assets";
import Glowna_cmpnt3 from "../components/Glowna_cmpnt3.astro";
import Layout from "../layouts/Layout.astro";
import biberKropki from "../assets/biber-kropki-trasa.svg";
import trasaPhoto from "../assets/trasa-photo.webp";
import kimjestesmyPhoto from "../assets/kimjestesmy-photo.png";
import Wydarzenia from "../components/Wydarzenia.astro";
import WydarzeniaTrasa from "../components/WydarzeniaTrasa.astro";
import kalendarzPicMain from "../assets/kalendarz-pic-main.png";
import secondPhotoMain from "../assets/second-photo-main.png";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<Layout>
  <!-- <head>
    <ViewTransitions />
  </head> -->
  <div id="fantastica-glowna">
    <Glowna_cmpnt3 />
    <div id="main-readable-portion">
      <section id="trasa-section">
        <div id="trasa-main-container">
          <div id="trasa">
            <h2>Sacrum/ <br />Profanum Tour</h2>
            <div class="trasa-info-buy-container">
              <div class="trasa-info-buy">
                <p>Biber. Trochę sacrum. Trochę profanum. <br />Zmysłowa gra kontrastów</p>

                <a
                  class="buy-ticket onImage0"
                  href="https://iframe657.biletyna.pl/"
                  target="_blank"
                >
                  Kup bilet
                </a>
              </div>
            </div>
            <div class="trasa-kalendarz">
              <div class="trasa-wydarzenia">
                <WydarzeniaTrasa title="Wydarzenia" />
              </div>
            </div>
          </div>
          <div class="trasa-images">
            <img
              class="biber-kropki"
              src={biberKropki.src}
              width={biberKropki.width}
              height={biberKropki.height}
              alt="Biber kropki"
            />
            <img
              class="trasa-photo"
              src={trasaPhoto.src}
              style={{ height: "auto", scale: "-1 1" }}
              alt="Zdjęcie Fantasticy do sekcji trasy"
            />
          </div>
        </div>
        <div class="trasa-repertuar-container">
          <div class="trasa-repertuar-circle">
            <div>
              <p>H.I.F. von Biber - Sonata misteryjna „Wniebowzięcie NMP”</p>
              <p>H.I.F. von Biber - Sonata F-dur C140</p>
              <p>H.I.F. von Biber - Sonata misteryjna „Zwiastowanie NMP”</p>
              <p>H.I.F. von Biber - Sonata c-moll C143</p>
              <p>H.I.F. von Biber -Sonata misteryjna „Ukrzyżowanie”</p>
            </div>
          </div>
        </div>
      </section>
      <div id="o-nas-containter">
        <div id="o-nas">
          <div id="o-nas-left">
            <h2 style="font-family: Gilda Display;">KIM<br />JESTEŚMY?</h2>
          </div>
          <Image src={kimjestesmyPhoto} alt="Kim jesteśmy" />
          <div id="o-nas-right">
            <div id="o-nas-right-tekscik">
              <p>
                Fantastica Ensemble to przestrzeń, w której barok spotyka się z niepowtarzalną
                ekspresją i nowatorskim podejściem. Jesteśmy zespołem o zmiennym składzie, a naszym
                trzonem są skrzypaczka Aleksandra Owczarek i klawesynistka Klaudia Łoboda –
                artystki, które odważnie sięgają po rzadkie i zapomniane dzieła, nadając im nowe
                życie. Nie odtwarzamy baroku – my go tworzymy na nowo.
              </p>
              <p>
                Fantastica Ensemble to nie tylko zespół – to artystyczna misja. Gramy muzykę, która
                nie zna granic, odrzuca schematy i na nowo definiuje czym właściwie jest muzyka
                dawna. Autentyczność, ekspresja, nieprzewidywalność – to nasze DNA. W naszych
                interpretacjach można usłyszeć wszystko, co w sztuce kochamy najbardziej:
                intensywność, zmysłowość i piękno.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="o-nas-containter-bg">
        <!-- TODO: Fix overflow on X axis in this background block. -->
      </div>

      <div id="first-photo-containter">
        <div id="first-photo-text-container">
          <p>
            „Barok odkryty na nowo.<br /> Usłysz głos młodego pokolenia. ”
          </p>
        </div>
      </div>
      <div id="kalendarz-container">
        <div>
          <!-- TODO - make gradient move i linki i na szerokosc zrobic max bo wyglada goofy w safari-->
          <h2>KALENDARZ</h2>
          <div class="wydarzenia">
            <Wydarzenia title="Wydarzenia" />
            <Image src={kalendarzPicMain} alt="" />
          </div>
        </div>
      </div>
      <div id="second-quote-main">
        <Image
          src={secondPhotoMain}
          alt="Zdjęcie Klaudii i Aleksandry przy drugim cytacie"
          loading="lazy"
          decoding="async"
        />
        <div id="second-purple-quote">
          <h2>“Rewolucjonizują świat muzyki barokowej swoim nowatorskim podejściem”</h2>
          <h4>
            Karolina Sajniak-Drzyzga<br />
            Julian Cochran Foundation
          </h4>
          <a
            >“Porywające, ekspresyjne wykonania ukazują głęboką pasję muzyków do repertuaru
            barokowego. Wielkie kontrasty, liryzm i taneczność stanowią integralną część ich
            interpretacji. Zespół nie boi się poszukiwać nowych rozwiązań, odważnie eksplorując
            alternatywne miejsca koncertowe i pokazując muzykę baroku szerszemu gronu odbiorców. To
            zespół, którego poczynania warto śledzić!”</a
          >
          <h4 style="padding-top: 1vw; text-align: left;">
            Katarzyna Czubek<br />Akademia Muzyczna im. Krzysztofa Pendereckiego, Capella
            Cracoviensis, festiwal Młoda Muzyka Dawna
          </h4>
        </div>
      </div>
    </div>
  </div>
</Layout>
<Footer animate:persist />

<style>
  #fantastica-glowna {
    display: grid;
    width: 100vw;
    grid-template-rows: 150vh 1fr;
  }

  #main-readable-portion {
    display: grid;
    grid-template-columns: 1fr 82vw 2fr;
    grid-template-rows: 10vh auto 1250px 82vh auto 1fr;
    width: 100vw;
    height: 2000px;
    background-color: rgba(241, 239, 239, 1);
    backdrop-filter: opacity(1);
    grid-row-start: 2;
    height: auto;
  }

  #o-nas-containter {
    grid-column: 2 / 4;
    grid-row-start: 3;
    z-index: 1;
  }

  #o-nas-containter-bg {
    height: 40%;
    grid-column: 1/4;
    grid-row: 3/4;
    bottom: 0;
    align-self: flex-end;
    z-index: 0;
    background: linear-gradient(0deg, #e16f9e 21.65%, rgba(255, 255, 255, 0) 101.13%);
  }

  #o-nas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
    gap: 130px 100px;
    height: 970px;
  }

  #o-nas > img {
    width: 98%;
    height: auto;
    margin-top: 85px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #o-nas-right {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #o-nas-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1020px;
  }
  #o-nas-left h2 {
    color: #262626;
    font-family: Elsie;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    padding-right: 25px;
  }

  #o-nas-left img {
    height: auto;
    width: calc(23vw + 280px);
    align-self: flex-end;
  }

  #o-nas-right {
    margin-bottom: 25vh;
    align-self: center;
  }
  #trasa-section {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    background-image: url("../assets/tlo-trasa.png");
    background-size: cover;
  }
  #trasa-main-container {
    padding-left: 9.6vw;
    padding-bottom: 9.6%;
    display: grid;
    grid-template-columns: 37.7vw auto;
  }
  #trasa {
    container-type: inline-size;
  }
  .trasa-info-buy-container {
    margin-bottom: 93px;
  }
  .trasa-info-buy {
    display: flex;
    justify-content: space-between;
    padding: 0px 23px 0 7px;
    align-items: center;
  }
  .trasa-info-buy > p {
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
  }
  #trasa > h2 {
    color: #262626;
    font-family: Elsie;
    font-size: 12cqi;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 57px;
    margin-top: 140px;
    text-transform: uppercase;
  }

  .trasa-images {
    padding-top: 21%;
    margin-left: -30px;
  }
  .trasa-photo {
    width: 56.3vw;
  }
  .biber-kropki {
    margin-left: 13.7vw;
  }

  .trasa-repertuar-container {
    justify-self: center;

    width: 926px;
    margin-bottom: 12.8vh;

    display: grid;
    justify-content: center;
  }
  .trasa-repertuar-circle {
    width: 925px;
    height: 242px;
    border: 1px solid #ca602d;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .trasa-repertuar-circle > div {
    text-align: center;
    color: #ca602d;
    line-height: 1.4;
    font-size: 1.3rem;
  }

  .trasa-repertuar-circle > div p {
    margin: 0;
  }

  #o-nas-right-tekscik {
    color: #343232;
    text-align: justify;
    font-family: "Gilda Display";
    font-size: calc(0.6vw + 11.5px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: calc(33vw - 340px);
  }

  #first-photo-containter {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row-start: 4;
    background-image: url("../assets/first_photo_main.png"); /* Set the background image */
    background-size: cover; /* Cover the whole div */
    background-position: center;
  }
  #first-photo-text-container {
    width: 94vw;
    height: 71vh;
    border-radius: 11px;
    border: 1px solid rgba(220, 220, 220, 0.78);
    margin-top: 6vh;
  }

  #first-photo-text-container > p {
    color: #fff;
    font-family: "Gilda Display";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 3vw;
  }
  #kalendarz-container {
    display: flex;
    justify-content: center;
    grid-row: 5/6;
    grid-column: 1/4;
    background-color: white;
    padding-bottom: 4vw;
  }

  #kalendarz-container > div {
    align-self: center;
    /* height: 70%; */
    /* height: 70%; */
    width: 90%;
    padding: 0 5.5vw;
    padding-bottom: 17vh;
    margin-top: 4%;
    /* padding-left: 0; */
  }

  #kalendarz-container > div > h2 {
    color: #262626;
    font-family: Elsie;
    font-size: 8vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3.5%;
  }

  #kalendarz-container {
    background: lightgray url(../assets/tlo-kalendarz.png) 50% / cover no-repeat;
  }

  .trasa-wydarzenia {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* height: 600px; */
  }

  .trasa-wydarzenia > img {
    height: 30vw;
    width: auto;
  }
  .wydarzenia {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* height: 600px; */
  }

  .wydarzenia > img {
    height: 30vw;
    width: auto;
  }

  /* Drugi quote sekcja */
  #second-quote-main {
    display: flex;
    flex-direction: row;
    grid-row: 6/7;
    grid-column: 1/4;
    height: 56vw;
  }
  #second-quote-main > img {
    width: 50vw;
    height: auto;
  }
  #second-quote-main > div {
    display: flex;
    flex-direction: column;
    padding: 1vw 2vw 3vw 4vw;
    background-color: #d9edff;
    background-image: url("../assets/quote-second-gdnt.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #second-quote-main > div > h2 {
    color: #032d52;
    text-align: right;
    font-family: "Gilda Display";
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #second-quote-main > div > h4 {
    color: #032d52;
    font-family: "Gilda Display";
    font-size: calc(0.6vw + 10px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
  }
  #second-quote-main > div > a {
    color: #032d52;
    font-family: "Gilda Display";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    padding-right: 4vw;
  }

  .buy-ticket {
    background: #f9f6ec;
    border: 0.1px solid #746f66ed;
    padding: 1svh 2.5svh 0.8svh 2.5svh;
    border-radius: 20px;
    font-size: 1.56svh;
    letter-spacing: 0.5px;
    color: #36322fc4;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    text-decoration: none;
    scale: 1.18;
    height: 20px;
    -webkit-font-smoothing: antialiased;
    /* margin-left: 20px; */
    width: 7.1svh;
    text-wrap: nowrap;
    text-align: center;
  }

  .buy-ticket:hover {
    background-color: #2c2c2c;
    color: #f5f3f0;
    border-color: #2c2c2c;
  }

  .buy-ticket > a {
    text-decoration: none;
    color: #666;
    font-family: "MyrkenFont";
  }

  @media screen and (min-width: 1000px) {
    #trasa-section {
      display: grid;
      padding-bottom: 10vh;
      -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
    .buy-ticket {
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    #fantastica-glowna {
      grid-template-rows: 110vh 72%;
    }
    #main-readable-portion {
      width: -webkit-fill-available;
      grid-template-rows: 10vh 196vw 82vh calc(800px + 117vw) auto;
    }

    #o-nas-containter {
      grid-column: 1/4;
    }

    #o-nas {
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      gap: 50px;
    }
    #o-nas-left {
      height: auto;
      gap: 5px;
      grid-column: 1/2;
      grid-row: 1/2;
      /* height: 264vw; */
    }
    #o-nas-right {
      width: 91vw;
      /* position: absolute; */
      /* top: 29vh; */
      justify-self: center;
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 0;
    }
    #o-nas img {
      width: 95%;
      justify-self: center;
      align-self: center;
      grid-column: 1/2;
      grid-row: 3/4;
    }
    #o-nas-right-tekscik {
      width: 91vw;
      font-size: calc(1.6vw + 11.5px);
    }
    /* First photo iphone */
    #first-photo-containter {
      background-position: center;
    }

    /* kalendarz iphone */
    .wydarzenia {
      /* row-gap: 15vw; */
      height: auto;
      gap: 50px;
    }

    #kalendarz-container > div {
      align-self: auto;
      margin-top: 4vh;
      padding-bottom: 2.5vh;
    }

    #kalendarz-container > div > h2 {
      padding: 0;
      font-size: 7vh;
    }

    /* Second quote iphone */
    #second-quote-main {
      grid-row: 5 / 6;
      flex-direction: column-reverse;
      height: fit-content;
      font-size: 2.1vw;
    }
    #second-quote-main > div > a {
      font-size: 2.1vw;
    }
    #second-purple-quote {
      height: 500px;
    }
    #second-quote-main > img {
      height: 600px;
      width: 100vw;
      object-fit: cover;
      object-position: bottom;
    }

    .wydarzenia {
      flex-direction: column;
    }
    .wydarzenia > img {
      height: 114vw;
    }

    /* max-width 600 pixels max-width 600 pixels max-width 600 pixels max-width 600 pixels max-width 600 pixels */
    @media screen and (max-width: 600px) {
      body {
        height: auto;
      }
      #fantastica-glowna {
        grid-template-rows: 110vh 1fr;
      }
      #main-readable-portion {
        grid-template-rows: 10vh 1250px auto auto auto calc(515px + 114vw);
      }
      #trasa-section {
        height: max-content;
      }
      #trasa-main-container {
        padding-right: 8.3vw;
        padding-left: 0.2vw;
        /* padding-inline: 8.3vw; */
        grid-template-columns: auto;
        display: grid;
      }
      #trasa {
        /* padding-left: 8.3vw; */
        padding-inline: 8.3vw;
        /* width: max-content; */
        width: 100vw;
        display: grid;
        z-index: 1;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        box-sizing: border-box;
      }
      #trasa > h2 {
        font-size: 10.1vw;
        margin-top: 65px;
        margin-bottom: 19px;
        text-transform: uppercase;
      }
      .trasa-info-buy-container {
        /* margin-bottom: 320px; */
        margin-bottom: calc(170px + 35vw);
      }
      .trasa-info-buy {
      }
      .trasa-info-buy > p {
        font-size: clamp(12px, 4.1vw, 23px);
        width: 44vw;
      }

      .trasa-images {
        display: grid;
        z-index: 2;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin-left: 7px;
      }
      .biber-kropki {
        display: none;
      }

      .trasa-repertuar-container {
        width: auto;
        margin-bottom: 80px;
      }
      .trasa-repertuar-circle {
        width: 83vw;
        height: fit-content;
        border-radius: 3%;
        margin-left: 5px;
      }

      .trasa-repertuar-circle > div {
        font-size: 1.1rem;
        line-height: 1.2;
        width: 85vw;
      }

      .trasa-repertuar-circle > div p {
      }
      #trasa-section {
      }
      #trasa-main-container {
      }
      #trasa {
      }
      .trasa-info-buy-container {
        /* margin-bottom: calc(170px + 35vw); */
      }
      .trasa-info-buy {
        /* padding: 0px 12px 0 0px; */
        margin: 0px -4px 0 -2px;
        padding: 0px 15px 0 5px;
      }
      .trasa-info-buy > p {
      }
      #trasa > h2 {
      }
      .buy-ticket {
        padding: 2.6svw 4svw 2.6svw;
        height: fit-content;
      }
      .trasa-images {
        justify-content: center;
        padding-top: 0;
        /* margin-top: 295px; */
        /* margin-top: calc(330px - 4vw); */
        margin-top: calc(140px - -39vw);
      }
      .trasa-photo {
        width: 95vw;
      }
      .biber-kropki {
      }

      .trasa-repertuar-container {
      }
      .trasa-repertuar-circle {
        box-sizing: border-box;
        padding: 20px;
      }

      .trasa-repertuar-circle > div {
      }

      .trasa-repertuar-circle > div p {
      }

      #o-nas {
        height: auto;
        margin-bottom: 110px;
      }

      #o-nas img {
        /* margin-right: 2vw; */
      }

      #first-photo-text-container {
        width: 94vw;
        height: 66vh;
        border-radius: 11px;
        border: 1px solid rgba(220, 220, 220, 0.78);
        margin-top: 6vh;
        margin-bottom: 6vh;
      }

      #first-photo-text-container > p {
        font-size: 2.7rem;
      }
      #kalendarz-container {
        height: auto;
      }
      #kalendarz-container > div {
        height: auto;
      }
      .fantastica-big-letters {
        align-self: start;
        top: 23%;
      }
      #fbl {
        font-size: 12.5vw;
        /* align-items: start; */
      }
      #second-quote-main {
        grid-row: 6 / 7;
      }
      #second-purple-quote {
        /* height: auto; */
      }
      #second-quote-main > div > h2 {
        font-size: 7.3vw;
      }
      #second-quote-main > div > h4 {
        font-size: 3.4vw;
      }
      #second-quote-main > div > a {
        font-size: 3.8vw;
      }
      #second-quote-main > img {
        width: 100vw;
        height: auto;
      }

      /* TODO - wazne, na glownej za male literki w tym */
      #second-quote-main > div > a,
      #second-quote-main > div > h4 {
        /* font-size: 10vw; */
      }
    }
  }
</style>

<script>
  import Lenis from "lenis";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let lenis = new Lenis({
    duration: 0.2,
    smoothWheel: true,
    wheelMultiplier: 1.5,
  });

  function initAnimations() {
    // 1. Clean up
    if (lenis) {
      lenis.destroy();
    }

    // 2. Initialize Lenis
    if (window.innerWidth > 999) {
      lenis = new Lenis();
      lenis.on("scroll", ScrollTrigger.update);
      gsap.ticker.add((time) => lenis.raf(time * 1000));
      gsap.ticker.lagSmoothing(0);
    }

    // 3. Parallax on first photo
    const firstPhotoContainer = document.querySelector("#first-photo-containter");
    if (firstPhotoContainer) {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: firstPhotoContainer,
          start: "top bottom",
          end: "bottom top",
          scrub: true,
        },
      });
      tl.to(firstPhotoContainer, { backgroundPositionY: "10%" }, 0);
    }

    // 4. Hero animations (from Glowna_cmpnt3)
    const heroTrigger = document.querySelector(".scroll-container-container");
    if (!heroTrigger) return;

    gsap.set("#background-that-fades", { opacity: 1 });
    gsap.set("#fantastica-bg-vid", { opacity: 1 });

    gsap.to("#background-that-fades", {
      opacity: 0,
      scrollTrigger: {
        trigger: ".scroll-container-container",
        start: "top top",
        end: "+=25%",
        scrub: true,
      },
    });

    const mm = gsap.matchMedia();

    mm.add("(min-width: 1285px)", () => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".scroll-container-container",
          start: "+=25%",
          end: "+=67.5%",
          scrub: true,
          pin: ".fantastica-big-letters",
          pinSpacing: false,
        },
      });
      tl.to(".fantastica-big-letters", { duration: 0.2 })
        .to(".fantastica-big-letters", {
          color: "#A76AFB",
          scale: 1.4,
          y: -220,
          duration: 0.8,
        })
        .to("#fantastica-bg-vid", { filter: "grayscale(100%)", duration: 0.4 }, "<+=0.2");
    });

    mm.add("(min-width: 1000px) and (max-width: 1284px)", () => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".scroll-container-container",
          start: "+=25%",
          end: "+=75%",
          scrub: true,
          pin: ".fantastica-big-letters",
          pinSpacing: false,
        },
      });
      tl.to(".fantastica-big-letters", { duration: 0.2 })
        .to(".fantastica-big-letters", {
          color: "#A76AFB",
          scale: 1.2,
          y: -220,
          duration: 0.8,
        })
        .to("#fantastica-bg-vid", { filter: "grayscale(100%)", duration: 0.4 }, "<+=0.2");
    });

    mm.add("(max-width: 999px)", () => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".scroll-container-container",
          start: "top top",
          end: "+=82%",
          scrub: true,
          pin: ".fantastica-big-letters",
          pinSpacing: false,
        },
      });
      tl.to(".fantastica-big-letters", {
        color: "#A76AFB",
        scale: 1.2,
        duration: 0.6,
      }).to("#fantastica-bg-vid", { filter: "grayscale(100%)", duration: 0.6 });
    });

    gsap.to("#fantastica-bg-vid", {
      opacity: 0,
      scrollTrigger: {
        trigger: ".scroll-container-container",
        start: "+=130%",
        scrub: true,
        onEnter: () => {
          const video = document.querySelector("#fantastica-bg-vid") as HTMLVideoElement | null;
          const bg = document.querySelector("#fadeImage") as HTMLElement | null;
          const fa = document.querySelector("#falandingImg") as HTMLElement | null;
          if (video) {
            video.style.display = "none";
            video.pause();
          }
          if (bg) bg.style.display = "none";
          if (fa) fa.style.display = "none";
        },
        onLeaveBack: () => {
          const video = document.querySelector("#fantastica-bg-vid") as HTMLVideoElement | null;
          const bg = document.querySelector("#fadeImage") as HTMLElement | null;
          const fa = document.querySelector("#falandingImg") as HTMLElement | null;
          if (video) {
            video.style.display = "block";
            video.play();
          }
          if (bg) bg.style.display = "block";
          if (fa) fa.style.display = "block";
        },
      },
    });
  }

  document.addEventListener("astro:page-load", initAnimations);
</script>
