---
import about1 from '../assets/about1.png';
import about1Eclipse from '../assets/about1-eclipse.svg';
import about2 from '../assets/about2.png';
import about2Eclipse from '../assets/about2-eclipse.svg';
import about3 from '../assets/about3.png';
import about5 from '../assets/about5-klaudia.png';
import about7 from '../assets/about7.png';
import gallery1 from '../assets/galeria/gallery1.png';
import gallery2 from '../assets/galeria/gallery2.png';
import gallery3 from '../assets/galeria/gallery3.png';
import gallery4 from '../assets/galeria/gallery4.png';
import gallery5 from '../assets/galeria/gallery10.png';
import gallery6 from '../assets/galeria/gallery6.png';
import gallery7 from '../assets/galeria/gallery7.png';
import gallery8 from '../assets/galeria/gallery8.png';
import gallery9 from '../assets/galeria/gallery9.png';
import gallery10 from '../assets/galeria/gallery5.png';
import gallery11 from '../assets/galeria/gallery11.png';
import gallery12 from '../assets/galeria/gallery12.png';
import gallery14 from '../assets/galeria/gallery14.png';
import gallery15 from '../assets/galeria/gallery15.png';
import gallery16 from '../assets/galeria/gallery16.png';
import gallery17 from '../assets/galeria/gallery17.png';
import gallery18 from '../assets/galeria/gallery18.png';
import { ViewTransitions } from "astro:transitions";
---
<head>
    <ViewTransitions />
</head>
<div class="about-container">
    <div class="about-content-1-bg"></div>
    <div class="about-content-1">
        <div class="about-content-1-text">
            <p style="font-size: calc(18px + 0.3vw);">
                <span class="boldonise-text">Fantastica Ensemble</span> przełamuje schematy i odkrywa muzykę dawną w nowym świetle. Tworzymy interpretacje pełne pasji, ekspresji i nieoczywistych kontrastów, przywracając muzyce sprzed wieków jej prawdziwą intensywność i emocjonalność. Muzyka dawna to dla nas to nie muzealny eksponat, lecz żywa sztuka 
                – pełna dramaturgii, napięcia i niezwykłej energii, którą chcemy przekazać współczesnym słuchaczom. Gramy na instrumentach historycznych, ale nie odtwarzamy mechanicznie tego, co było – zamiast tego eksplorujemy, poszukujemy i odczytujemy na nowo. Inspirują nas zarówno źródła historyczne, jak i współczesna wrażliwość i jej twórcy.
            </p>
            <hr class="bold-line">
            <p style="font-size: calc(20px + 0.4vw);" class="about-content-1-text-bolder">
                Szukamy brzmień, które poruszają i zaskakują. Nasze koncerty to spotkania z dawną muzyką i jej niezwykłą głębią. Pokazujemy, że barok jest wciąż aktualny i niezmiennie porusza pokolenia.
            </p>
        </div>
        <img class="about-1-img" src={about1.src} alt="O nas-1" fetchpriority="high" />
        <img class="about-1-eclipse" src={about1Eclipse.src} alt="O nas-1-eclipse" fetchpriority="high" />
    </div>
    <div class="about-content-2">
        <div class="about-content-2-inside">
            <a class="about-2-img-container">
                <img class="about-2-img" src={about2.src} alt="O nas-2">
                <img class="about-2-eclipse" src={about2Eclipse.src} alt="O nas-2-eclipse" />
            </a>
            <div>
                <p>
                    Nasza misja to <span class="boldonise-text">przekraczanie granic</span> – nie tylko tych stylistycznych, ale i mentalnych. Wierzymy, że muzyka dawna może być przeżyciem intensywnym i pełnym emocji, a koncerty mogą stać się przestrzenią autentycznego dialogu między przeszłością a teraźniejszością.
                </p>
                <p style="margin-top: 18px;">
                    Sięgamy po odważne interpretacje i unikalne podejście do wykonawstwa, by każdy dźwięk brzmiał prawdziwie i miał swój cel.
                </p>
            </div>
        </div>
    </div>
    <div class="about-content-3-aleksandra">
        <div class="about-content-3-aleksandra-inside">
            <div class="about-content-3-aleksandra-inside-text">
                <h2>
                    ALEKSANDRA<br>OWCZAREK
                </h2>
                <p>
                    Muzyka bez kompromisów, dźwięk pełen emocji. Moja muzyka to ciągłe poszukiwanie – brzmienia, sensu, napięcia. Skrzypce barokowe nie są dla mnie jedynie historycznym instrumentem, ale narzędziem do wyrażania tego, co w muzyce najważniejsze: autentyczności i emocji. Każdy dźwięk może być krzykiem, szeptem, echem przeszłości lub pulsującą energią teraźniejszości.
                </p>
            </div>
            <p id="about-3-aleksandra-inside-text-right">
                Ukończyłam Akademię Muzyczną im. Krzysztofa Pendereckiego w Krakowie, studiując pod okiem wybitnych specjalistów, takich jak Sirkka-Liisa Kaakinen-Pilch i Zbigniew Pilch, a swoje umiejętności doskonaliłam na kursach mistrzowskich, pracując m.in. z Antoinette Lohmann, Jorge Jimenezem, Bruno Cocsetem i Aureliuszem Golińskim. Byłam członkinią Musicae Antiquae Collegium Varsoviense w Warszawskiej Operze Kameralnej, a od grudnia 2024 roku dołączam do Capelli Cracoviensis – jednego z najważniejszych polskich zespołów muzyki dawnej. W mojej grze szukam przestrzeni między dźwiękiem a emocją, między historią a teraźniejszością. Nie interesuje mnie neutralność – interesuje mnie prawda.
            </p>
            <img id="about-3-aleksandra-img" src={about3.src} alt="O nas-3" />
        </div>
    </div>
    <div class="about-content-4-aleksandra">
        <div class="about-content-4-aleksandra-container">
            <div class="about-content-4-aleksandra-container-inside">
                <div class="about-content-4-aleksandra-text2">
                    <p class="owczarek-test-top">
                       Moim celem jest pokazywanie, że muzyka dawna nie jest statycznym artefaktem, ale pulsującą energią, która może angażować i fascynować tak samo dzisiaj, jak setki lat temu.
                    </p>
                    <p class="owczarek-test-bottom">
                        Chcę burzyć mury elitarności, otwierając przestrzeń, w której każdy może poczuć jej piękno – bez względu na wcześniejsze doświadczenia z muzyką klasyczną. Dla mnie muzyka to przestrzeń, w której przeszłość spotyka się z teraźniejszością, a tradycja staje się impulsem do odkrywania nowych środków wyrazu. 
                        <br><br>
                        Chcę, by każdy koncert był nie tylko słuchowym doświadczeniem, ale emocjonalnym przeżyciem, które na chwilę przenosi w inny świat. 
                    </p>
                </div>
                <p class="about-content-4-aleksandra-tag">
                    OWCZAREK
                </p>
            </div>
        </div>
    </div>
    <!-- TODO - 1. dodaj tlo, 2. napraw layout bo np zdj za male itp., 3. Dodać bialy na pis na dole.   -->
    <div class="about-content-5-klaudia">
        <div class="about-content-5-klaudia-inside">
            <img id="about-5-klaudia-img" src={about5.src} alt="O nas-5" />
            <div class="about-content-5-klaudia-inside-text">
                <h2>
                    KLAUDIA<br>ŁOBODA
                </h2>
                <p>
                    Klawesyn fascynuje mnie swoją dwoistością. Z jednej strony precyzyjny i surowy, z drugiej – miękki, pełen rezonansu i niepowtarzalnej ekspresji, która tylko czeka, aby ją wydobyć. To instrument, który jest niełatwym partnerem, lecz oferuje nieskończenie wiele możliwości. Każdy jego dźwięk jest dla mnie jak słowo w teatrze czy jak gest w tańcu. Klawesyn ma swój własny, unikatowy język, który jest niesłychanie poruszający i brzmieć jak puls miasta, jak szept czy krzyk. 
                </p>
            </div>
            <p id="about-5-klaudia-inside-text-right">
                Kształciłam się w Akademii Muzycznej w Krakowie w klasie klawesynu dra Aleksandra Mocka i prof. Marka Toporowskiego oraz klasie continuo dr Ewy Mrowcy. Studiowałam także w Royal Conservatoire w Hadze, gdzie doskonaliłam swoje umiejętności pod okiem Carole Cerasi, Patricka Ayrtona i Richarda Egarra. Zdobyłam liczne nagrody, m.in. II nagrodę w II Ogólnopolskim Konkursie Klawesynowym w Krakowie (2017), podwójną I nagrodę oraz II nagrodę w VIII Wanda Landowska Harpsichord Competition we Włoszech (2019) oraz Nagrodę Specjalną w H.I.F. Biber International Competition (2023). Koncertowałam w wielu krajach Europy od Finlandii po Wielką Brytanię i współpracowałam m.in. z Opera Rara, Handel Opera Academy czy Misteria Paschalia. Od 2024 roku podjęłam stałą współpracę z Capellą Cracoviensis.
            </p>
        </div>

    </div>
    <!-- TODO - 1. text nie stretchuje sie razem z loboda -->
    <div class="about-content-6-klaudia">
        <div class="about-6-inside">
            <div class="sideways-text-and-text">
                <h3>ŁOBODA</h3>
                <p>
                    Szukam w niej emocji, które mogą poruszyć współczesnego słuchacza tak samo, jak poruszały ludzi setki lat temu. Nie liczy się dla mnie wyłącznie piękno, ale też autentyczność, która nie omija bólu czy cierpienia. Nie chcę mechanicznie odtwarzać przeszłości, bo muzyka dawna jest dla mnie żywą przestrzenią, w której spotykają się tradycja, gest, taniec i narracja. Lubię eksperymentować z dynamiką, artykulacją, rytmem i czerpać inspirację z tego, co nas otacza – sztuki tradycyjnej, jazzu i czy nawet popu. Nie wierzę w granice w sztuce – muzyka nie zamyka się w jednej epoce ani jednej estetyce. Tworząc, staram się łączyć to, co dawne, z tym, co tu i teraz. Każdy koncert to dla mnie opowieść, w której klawesyn nie jest tylko tłem, ale pełnoprawnym narratorem. 
                </p>
            </div>
            <div class="quote-with-gradient">
                <div class="quote-with-gradient-inside">
                    <div class="gradient-of-quote"></div>
                    <p>
                        Dążę do tego, by muzyka dawna była odbierana tak, jak wtedy gdy była tworzona – jako coś porywającego i pełnego życia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-content-7">
        <img id="about-7" src={about7.src} alt="O nas-7" />
        <div>
            <p>
                Nasza praca została doceniona na międzynarodowych konkursach – zdobyłyśmy Nagrodę Specjalną na H.I.F. Biber International Competition (Austria, 2023), I nagrodę w III Konkursie Muzyki Kameralnej KraCamera (2023) oraz Nagrodę Specjalną za „najbardziej kreatywne wykonanie” podczas 12th International Maurizio Pratola Early Music Competition (Włochy, 2024). Wygrałyśmy również konkurs Da Vinci Young Sounds (2023), co zaowocowało nagraniem naszej debiutanckiej płyty we współpracy z Da Vinci Records. Dzięki Stypendium Twórczemu Miasta Krakowa 2024 nagrałyśmy nasz drugi album, poświęcony twórczości H.I.F. Bibera dla wytwórni Ars Sonora. Działamy na scenach krajowych i europejskich, koncertując w Polsce, Austrii, Finlandii, Holandii czy Niemczech. Tworzymy autorskie projekty, które są czymś więcej niż tylko koncertami – to pełne ekspresji, teatralne opowieści, w których tradycja spotyka się z nowoczesnością. Przecieramy też szlaki współpracując z artystami innych dziedzin i tworząc takie wydarzenia jak „Mystery. Everyone is losing someone”.
            </p>
        </div>
    </div>
    <div class="gallery-container">
        <h2>
            Galeria
        </h2>
        <div class="gallery">

            <img src={gallery1.src} alt="Pierwsze zdjecie galerii" />
            <img src={gallery2.src} alt="Drugie zdjecie galerii" />
            <img src={gallery3.src} alt="Trzecie zdjecie galerii" />
            <img src={gallery4.src} alt="Czwarte zdjecie galerii" />
            
            <img src={gallery5.src} alt="Piąte zdjecie galerii" />
            <img src={gallery6.src} alt="Szóste zdjecie galerii" />
            <img src={gallery7.src} alt="Siódme zdjecie galerii" />
            <img src={gallery8.src} alt="Ósme zdjecie galerii" />
            
            <img src={gallery9.src} alt="Dziewiąte zdjecie galerii" />
            <img src={gallery10.src} alt="Dziesiąte zdjecie galerii" />
            <img src={gallery11.src} alt="Jedenaste zdjecie galerii" />
            <img src={gallery12.src} alt="Dwunaste zdjecie galerii" />
            
            <img src={gallery14.src} alt="Czternaste zdjecie galerii" />
            <img src={gallery15.src} alt="Piętnaste zdjecie galerii" />
            <img src={gallery16.src} alt="Szesnaste zdjecie galerii" />
            
            <img src={gallery17.src} alt="Siedemnaste zdjecie galerii" />
            <img src={gallery18.src} alt="Osiemnaste zdjecie galerii" />

        </div>
    </div>
</div>
<style>
    header {
    mix-blend-mode: initial;
    }
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1080px 1080px 832px 960px 40vw 680px 940px auto;
        font-family: "Gilda Display";
        z-index: -2;
    }

    .boldonise-text {
        font-size: calc(22px + 0.3vw);
        font-family: Elsie; 
        font-weight: 900;
    }

    /* Sekcja 1 */

    .about-content-1-bg {
        grid-column: 1 / 12;
        grid-row: 1 / 2;
        z-index: -1;
        background: linear-gradient(180deg, #9DD0EA -84.4%, #F0EAE8 100%);
    }
    .about-content-1 {
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        display: flex;
        margin-top: calc(133px + 7vh);
        margin-bottom: 100px;
        margin-right: 5vw;
    }

    .about-content-1-text {
        grid-column: 2 / 10;
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding-right: calc(28px + 5vw); */
    }
    .about-1-img {
        position: relative;
        height: calc(20vw + 360px);
        flex: 4;
        object-fit: contain;
        z-index: 1;
    }

    .about-content-1-text p {
        margin-left: calc(32px + 11vw);
        width: 39vw;
    }

    .bold-line {
        border: none;
        height: 3px; /* Adjust thickness */
        background-color: white; /* Change color */
        margin: 20px 0;
        width: 0px;
    }


    .about-1-eclipse {
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }


    /* Sekcja 2 */
    .about-content-2 {
        grid-column: 1 / 12;
        grid-row: 2 / 3;
        background: #F0ECE8;
    }

    .about-content-2-inside {
        position: relative;
        display: flex;
        margin-top: 140px;
        gap: calc(25vw - 230px);
    }

    .about-2-img-container {
        position: relative;
        width: 53%;
    }

    .about-2-img {
        width: calc(50% + 321px);
        position: relative;
        object-fit: cover;
        z-index: 1;
    }
    
    .about-2-eclipse {
        position: absolute;
        width: 120%;
        left: 9vw;
        bottom: 10vw;
        z-index: 0;
    }
    .about-content-2-inside div {
        align-self: center;
        width: 47%;
        padding-right: 1%;
        font-size: calc(18px + 0.3vw);
        margin-bottom: 10vw;
    }
    
    /* Sekcja 3 aleksandra*/

    .about-content-3-aleksandra {
        grid-column: 1 / 12;
        grid-row: 3 / 4;
        align-content: center;
        background: linear-gradient(180deg, #C3D4FF 0.64%, #9DD0EA 78.65%);
        padding-top: 13vh;

    }

    .about-content-3-aleksandra-inside {
        height: 36vw;
        display: flex;
        gap: 4vw;
        font-weight: 300;
    }
    
    .about-content-3-aleksandra-inside-text {
        margin-left: 5vw;
        font-size: calc(16px + 0.1vw);
        align-self: center;
    }
    .about-content-3-aleksandra-inside-text h2 {
        color: white;
        font-size: calc(31px + 2vw);
        font-family: Elsie;
        font-weight: 300;
        font-weight: 400;
        text-align: right;

    }
    .about-content-3-aleksandra-inside-text p {
        text-align: justify;
    }
    #about-3-aleksandra-inside-text-left {
        flex: display;
    }
    #about-3-aleksandra-inside-text-right {
        margin-top: 30px;
        font-size: calc(16px + 0.1vw);
        margin-right: calc(26vw - 340px);
        align-self: center;
        text-align: justify;
    }

    #about-3-aleksandra-img {
        margin-left: calc(4vw);

    }
    /* Sekcja 4 aleksandra*/
    .about-content-4-aleksandra {
        grid-column: 1 / 12;
        grid-row: 4 / 5;
        background: linear-gradient(0deg, #9DD0EA 0%, #9DD0EA 100%);
    } 
    .about-content-4-aleksandra-container-inside {
        margin-top: 140px;
        height: 580px;
        background-color: #FFF1DC;
        display: grid;
        grid-template-columns: 1fr 75vw 1fr;
        grid-template-rows: 2fr 3fr;
    }
    
    .about-content-4-aleksandra-tag {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        z-index: 0;
        color: #9DD0EA;
        font-size: 98px;
        margin: 0 0;
        justify-self: center;
    }
    .about-content-4-aleksandra-text2{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        z-index: 1;
        justify-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4vw;
    }
    .owczarek-test-top {
        font-size: calc(18px + 1vw);
        text-align: justify;
        margin: 40px 7vw 5vh 7vw;
        color: #4D4D4D;

    }
    .owczarek-test-bottom {
        font-size: calc(12px + 0.5vw);
        font-weight: 200;
        text-align: center;
        width: calc(300px + 22vw);
        color: #4D4D4D;
    }

    /* About 5 klaudia*/

    .about-content-5-klaudia {
        grid-column: 1 / 12;
        grid-row: 5 / 6;
        align-content: center;
        background: linear-gradient(180deg, #9DD0EA 1.25%, #72C4FA 38.38%, #DD587C 100%);
    }

    .about-content-5-klaudia-inside {
        height: 36vw;
        display: flex;
        gap: 4vw;
        font-weight: 300;
        width: 94vw;
    }
    
    #about-5-klaudia-img {
        /* TODO - 3 chyba psuje telefon */
        /* width: fit-content; */
        height: calc(120px + 25vw);
        width: fit-content;
    }
    #about-5-klaudia-inside-text-left {
        flex: display;
    }
    .about-content-5-klaudia-inside-text h2 {
        color: #8D26E2;
        font-size: calc(31px + 2vw);
        font-family: Elsie;
        font-weight: 300;
        text-align: left;
    }
    
    .about-content-5-klaudia-inside-text {
        margin-left: 5vw;
        font-size: calc(16px + 0.1vw);
        align-self: center;
        text-align: justify;
        flex-basis: 50%;
    }
    #about-5-klaudia-inside-text-right {
        margin-top: 30px;
        font-size: calc(16px + 0.1vw);
        margin-right: calc(26vw - 340px);
        align-self: center;
        text-align: justify;
        flex-basis: 50%;
    }

    /* sekcja 6 - klaudia 2 */
    .about-content-6-klaudia {
        grid-column: 1 / 12;
        grid-row: 6 / 7;
        display: grid;
        grid-template-columns: 0 1fr calc(13vw - 110px) ;
        grid-template-rows: 14vh 1fr 10vh;
        background: #DD587C;
    }
    .about-6-inside {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        gap: calc(42vw - 490px);
    }


    .sideways-text-and-text {
        flex: 5;
        display: flex;
        height: 430px;
        margin-top: 12vh;
    }
    .sideways-text-and-text h3 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: center;
        font-family: "Gilda Display";
        font-weight: 300;
        font-size: clamp(1rem, 10vw, 10ch);
        margin: 0px 0px;
        color: white;
    }
    .sideways-text-and-text p {
        font-size: 21px;
        text-align: justify;
        font-family: "Gilda Display";
        font-weight: 300;
        width: 530px;
    }

    .quote-with-gradient {
        flex: 4;
        font-size: calc(19px + 0.7vw);
        color: white;
        text-align: justify;
        font-family: "Gilda Display";
        display: flex;
        justify-content: center;
    }
    .quote-with-gradient-inside {
        width: 60%;
        aspect-ratio: 1 / 1;
        border-radius: 740px;
        align-self: end;
        margin-bottom: 16vh;
        display: grid;
        position: relative;
    }
    .gradient-of-quote {
        background: radial-gradient(50% 50% at 50% 239%,rgba(120,35,246,0.55) 502.6%,rgba(223,94,125,0.74) 91.6%);
        filter: blur(75px);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }
    .quote-with-gradient-inside p {
        padding: 0 2vw;
        z-index: 2;
    }

    /* sekcja 7 - o nas */
    .about-content-7 {
        grid-column: 1 / 12;
        grid-row: 7 / 8;
        display: grid;
        grid-template-columns: auto 2fr;
        padding-top: 21vh;
        gap: 75px;
        padding-right: calc(32vw - 350px);
        background: linear-gradient(180deg, #DD587C 0%, #ECDAE2 100%);
    }

    .about-content-7 img {
        grid-column: 1/2;
    }

    .about-content-7 div {
        grid-column: 2/3;
        text-align: justify;
        display: flex;
        align-items: center;
        font-size: calc(15px + 0.3vw);
    }


    #about-7 {
        align-self: end;
        border-radius: 20px;

    }

    /* Galeria Galeria Galeria Galeria Galeria Galeria Galeria Galeria Galeria Galeria Galeria Galeria */

    .gallery-container {
        grid-row: 8/9;
        grid-column: 1/11;
        padding: 4vw;    
        olor: #dc5e87;
        background: linear-gradient(360deg, #DD587C 0%, #ECDAE2 100%);
        /* font-size: 98px; */
    }    
    .gallery-container > h2 {
        font-size: 101px;
        color: #dc5e87;
        text-align: center;
        margin-bottom: 50px;;
    }
    .gallery {
        grid-row: 8/9;
        grid-column: 1/11;
        columns: 400px;
        height: fit-content;
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        gap: 6px; */

    }    
    .gallery > img {
        width: 100%;
        margin-bottom: 1em;
        border-radius: 1ch;
        box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in;
        
    }
    .gallery > img:hover {
        transform: rotateZ(1deg) rotateY(10deg) scale(1.1);
        box-shadow: 0 5em 2em #111;
        /* cursor: pointer; */
    }



@media screen and (max-width: 1150px) and (min-width: 800px) {
    .about-container {
        grid-template-rows: auto auto auto 960px auto auto auto auto
    }
    .about-content-1 {
        margin-left: 7vw;
        margin-right: auto;
        height: max-content;
    }
    .about-content-1-text {
        align-items: center;
    }
    .about-content-1-text > p {
        margin-left: 2vw;
    }
    .bold-line {
        width: 100%;
    }
    .about-1-img {
        margin-left: 2.3vw;
        height: 53.5vw;    
        margin-top: 4vw;
    }

/* about content 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 */
    .about-content-2-inside {
        flex-direction: column;
        margin-top: 0;
    }
    .about-2-img-container {
        width: 87vw;
    }
    /* .about-2-img {
        width: calc(50% + 511px);
    } */
    .about-content-2-inside > div{
        margin-top: 30px;
        width: 70%;
    }


/* about content 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 */
    .about-content-3-aleksandra {
        height: fit-content;
        padding: 17vh 0 7vh 0;
    }
    .about-content-3-aleksandra-inside {
        /* justify-content: space-between; */
        gap: 1.5vw;
        height: auto;
    }
    .about-content-3-aleksandra-inside-text {
        width: 35vw;
        margin-left: 3vw;
        align-self: auto;
    }
    #about-3-aleksandra-inside-text-right{
        width: 33vw;
    }
    #about-3-aleksandra-img {
        height: 32vw;
        margin-left: auto;
        align-self: center;
    }


/* about content 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 */
    .about-content-5-klaudia {
        height: auto;
    }
    .about-content-5-klaudia-inside {
        height: auto;
        width: calc(120vw - 320px);
    }
    .about-content-5-klaudia-inside-text {
        align-self: start;
    }
    .quote-with-gradient-inside{
        margin-bottom: 100px;
    }
    .quote-with-gradient-inside > p{
        align-self: center;
    }
/* about content 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 */
.about-content-6-klaudia {
    grid-template-rows: 60px 1fr 10vh;  
}
/* about content 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 */
    .about-content-7 {
        height: fit-content;
        padding-top: 0;
        gap: 55px;
    }
    #about-7 {
        width: 43vw;
    }
    .about-content-7 > div{
        padding-right: 5vw;
    }

}
@media screen and (max-width: 1000px) {
    .about-6-inside {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .sideways-text-and-text {
        margin-top: 0;
    }
    .sideways-text-and-text p {
        font-size: 2.3vw;
        padding: 0 8vw 0 0;
    }
    .sideways-text-and-text h3 {
        font-size: clamp(1rem, 15vw, 10ch);
    }
    .quote-with-gradient-inside {
        width: 40%;
    }
}
/* Mobilna O nas */
@media screen and (max-width: 800px) {
    .about-container {
        grid-template-rows: auto auto 1fr 780px 360vw auto auto auto;
    }
    .about-content-1 {
        flex-direction: column;    
        grid-column: 1 / 11;
        margin-right: 0;        
        margin: 33vw 7vw 7vw 7vw;
        height: fit-content;
    }
    .about-content-1-text p {
        margin-left: 0;
        width: 100%;
    }
    .about-1-img {
        margin-top: 5vw;
    }
/* about 2 - mobilne */
    .about-content-2 {
        height: fit-content;
    }

    .about-content-2-inside {
        flex-direction: column-reverse;
    }
    
    .about-content-2-inside div{
        margin-top: -18vw;
        width: 87%;
    }

    .about-content-2-inside div p{

    }

    .about-2-img {
        width: 95vw;
    }
    .about-content-3-aleksandra {
        height: fit-content;
    }
    .about-content-3-aleksandra-inside {
        height: auto;
        flex-direction: column;
        text-align: justify;
    }
    #about-3-aleksandra-inside-text-right {
        font-size: 16px;
    }
    .about-content-3-aleksandra-inside-text, #about-3-aleksandra-inside-text-right{
        padding: 0 10vw;
        margin-left: 0;
    }
    .about-content-3-aleksandra-inside-text {
        order: 1;
    }
    #about-3-aleksandra-inside-text-right {
        order: 3;
    }
    #about-3-aleksandra-img {
        order: 2;
        /* margin-left: calc(20vw); */
        margin-bottom: 6vw;        
        width: 80%;
        align-self: end;
    }
    #about-3-aleksandra-inside-text-right {
        margin-right: 0;
    }

/* Sekcja 4 - mobilne */
    .about-content-4-aleksandra-text2 {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: flex-start;
        align-items: flex-end;
        width: min-content;
    }
    .owczarek-test-top {
        font-size: 20px;
        text-align: end;
        margin: 40px 1vw 5vh 7vw;

    }
    .owczarek-test-bottom {
        text-align: justify;
        width: 68vw;    
        font-size: calc(13px + 0.5vw);
        
    }
    .about-content-4-aleksandra-container-inside {
        grid-template-columns: 1fr 75vw;

    }

    .about-content-4-aleksandra-tag{
        font-size: 92px;
        text-align: center;
        width: 92px;
        margin-left: 2.7vw;
    }
/* About 5 klaudia - mobilne */
    .about-content-5-klaudia {
        align-content: normal;
    }
    .about-content-5-klaudia-inside {
        flex-direction: column;
        width: 100vw;
    }

    #about-5-klaudia-img {
        order: 2;
        height: auto;
        margin-top: 7vw;
        width: 77vw;
        
    }
    .about-content-5-klaudia-inside-text {
        order: 1;
        margin: 0 7vw 0 10vw;
    }
    .about-content-5-klaudia-inside-text  h2 {
        font-size: 13vw;
        color: #FFFFFF;
        font-family: "Gilda Display";
        margin-bottom: 5vw;
    }
    #about-5-klaudia-inside-text-right {
        order: 3;
        z-index: 1;
        margin: 14vw 8vw;
        
    }
/* about 6 - klaudia 2 - mobilne */
    .about-6-inside {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .sideways-text-and-text {
        margin-top: 0;
    }
    .sideways-text-and-text p {
        font-size: 16px;
        padding: 0 8vw 0 0;
    }
    .sideways-text-and-text h3 {
        font-size: clamp(1rem, 15vw, 10ch);
    }
/* about 7 - o nas - mobilne */
    .about-content-7 {
        padding-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.9fr 1fr;
    }
    .about-content-7 div {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100vw;
    }
    .about-content-7 div p {
        margin: 0 10vw 10vw 10vw;
    }
    #about-7 {
        grid-row: 1/2;
        width: 79vw;
    }
    /* TODO - Mini: .bold-line nie ma bialych linii ktore byly*/
    .bold-line {
        display: none;
    }
}
</style>
