---
// import background from "../assets/fantastica-tlo-gradient.svg";
import falanding from "../assets/head-z-purple-kolem.webp";
import vidooWebm from "../assets/fantastica-vid.webm";
import vidoo from "../assets/fantastica-vid.mp4";
// import videoPoster from "../assets/video-prev.webp";
import { ViewTransitions } from "astro:transitions";
---

<head>
  <ViewTransitions />
</head>
<div class="scroll-container-container">
  <div class="scroll-container">
    <section id="background-that-fades">
      <!-- <img class="background" id="fadeImage" src={background.src} alt="" fetchpriority="high" /> -->
      <div class="background"></div>
      <img class="falanding widFantastica" src={falanding.src} alt="" fetchpriority="high" />
    </section>
    <!-- poster="src/assets/video-prev.webp" -->
    <!-- poster={videoPoster.src} -->
    <video
      transition:persist
      id="fantastica-bg-vid"
      autoplay
      muted
      loop
      playsinline
      webkit-playsinline
      x5-playsinline
      preload="auto"
      disablepictureinpicture
    >
      <source src={vidooWebm} type="video/webm" />
      <source src={vidoo} type="video/mp4" />
    </video>
  </div>
  <h1 class="fantastica-big-letters">FANTASTICA</h1>
</div>

<style>
  .scroll-container-container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 150vh;
    overflow: clip;
    grid-row: 1/2;
  }
  .fantastica-big-letters {
    position: absolute;
    z-index: 10;
    top: calc(94.1vh - 150px);
    /* top: 80vh; */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e2e4e7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Elsie;
    font-size: calc(5vw + 80px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    pointer-events: none;
    will-change: opacity, transform;
    -webkit-font-smoothing: antialiased;
  }

  .scroll-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
  }
  #background-that-fades {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100%;
    pointer-events: none;
  }
  .background {
    position: absolute;
    height: 100vh;
    z-index: -2;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    background: linear-gradient(#e180a9 23.5%, #2599f8 100%);
  }

  .falanding {
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 76vh;
    pointer-events: none;
  }

  #fantastica-bg-vid {
    position: absolute;
    height: 100vh;
    z-index: -3;
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1000px) {
    .fantastica-big-letters {
      font-size: 12.5vw;
      top: 20vh;
    }
    .falanding {
      height: 500px;
      aspect-ratio: auto;
      margin-right: 12vw;
    }
  }
</style>
